---
# update and configure the system
- include: system.yml

# Python 2.6
- include: py26.yml

# Pillow
- include: pillow.yml

- name: "system: install python packages (globally)"
  sudo: yes
  pip:
    name={{item}}
  with_items:
    - pygithub

# Configure Jenkins user
- include: user.yml

# Node.js
- include: nodejs.yml

# Browsers (firefox, et al)
- include: browsers.yml
