---

- name: "node.js: fetch sources"
  become: yes
  become_user: jenkins
  get_url:
    url=http://nodejs.org/dist/v0.12.3/node-v0.12.3.tar.gz
    dest=/tmp/

- name: "node.js: Unpack tarball"
  become: yes
  become_user: jenkins
  command: |
    tar zxf node-v0.12.3.tar.gz
    chdir=/tmp

- name: "node.js: lookup directory name"
  become: yes
  become_user: jenkins
  shell: |
    ls /tmp | grep node-v | sort | head -n1
  register: node_dir

- name: "user: create .local folder"
  become: yes
  become_user: jenkins
  file:
    path=/home/jenkins/.local
    state=directory
    owner=jenkins
    group=jenkins

- name: "node.js: configure"
  become: yes
  become_user: jenkins
  shell: |
    ./configure --prefix=/home/jenkins/.local
    chdir=/tmp/{{ node_dir.stdout }}

- name: "node.js: make"
  become: yes
  become_user: jenkins
  shell: |
    /usr/bin/make
    chdir=/tmp/{{ node_dir.stdout }}

- name: "node.js: make install"
  become: yes
  become_user: jenkins
  shell: |
    /usr/bin/make install
    chdir=/tmp/{{ node_dir.stdout }}

# this is only useful when connecting to a node, Jenkins needs another tweak
- name: "node.js: add nodejs on PATH"
  become: yes
  become_user: jenkins
  shell: |
    echo "PATH=$PATH:/home/jenkins/.local/bin" >> /home/jenkins/.bashrc

- name: "node.js: clean up node install"
  become: yes
  become_user: jenkins
  shell: |
    rm -rf /tmp/node-*

- name: "node.js: install NPM packages"
  become: yes
  become_user: jenkins
  npm:
    name={{item}}
    global=yes
    state=present
  with_items:
    - bower
    - jshint
    - csslint
