---

- name: "py26: Install deadsnakes PPA"
  become: yes
  apt_repository:
    repo='ppa:fkrull/deadsnakes'
    state=present

- name: "py26: install python 2.6"
  become: yes
  apt:
    name={{ item }}
    state=present
  with_items:
    - python2.6
    - python2.6-dev

# lxml
- name: "py26: fetch lxml source"
  get_url:
    url=http://pypi.python.org/packages/source/l/lxml/lxml-2.3.6.tar.gz
    dest=/tmp/

- name: "py26: unpack lxml tarball"
  command:
    tar zxf lxml-2.3.6.tar.gz
    chdir=/tmp

- name: "py26: install lxml"
  become: yes
  command:
    python2.6 setup.py install
    chdir=/tmp/lxml-2.3.6

# bz2
- name: "py26: fetch bz2 source"
  get_url:
    url=http://labix.org/download/python-bz2/python-bz2-1.1.tar.bz2
    dest=/tmp/

- name: "py26: unpack bz2 tarball"
  command:
    tar xfvj python-bz2-1.1.tar.bz2
    chdir=/tmp

- name: "py26: install bz2"
  become: yes
  command:
    python2.6 setup.py install
    chdir=/tmp/python-bz2-1.1

# Imaging
# https://unix.stackexchange.com/questions/105265
- name: "py26: freetype symlink"
  become: yes
  file:
    src=/usr/include/freetype2
    dest=/usr/include/freetype
    state=link

- name: "py26: fetch imaging source"
  get_url:
    url=http://effbot.org/downloads/Imaging-1.1.7.tar.gz
    dest=/tmp/

- name: "py26: unpack imaging tarball"
  command:
    tar zxf Imaging-1.1.7.tar.gz
    chdir=/tmp

- name: "py26: install imaging"
  become: yes
  command:
    python2.6 setup.py install
    chdir=/tmp/Imaging-1.1.7
