---

- name: "user: add jenkins user"
  sudo: yes
  user: name=jenkins

- name: "user: download authorized key"
  get_url:
    url=https://raw.githubusercontent.com/plone/jenkins.plone.org/master/jenkins.plone.org.pub
    dest=/tmp/jenkins.authorized_keys
  delegate_to: 127.0.0.1

- name: "user: install authorized key"
  sudo: yes
  sudo_user: jenkins
  authorized_key:
    user=jenkins
    key="{{ lookup('file', '/tmp/jenkins.authorized_keys') }}"

- name: "user: git config"
  sudo: yes
  sudo_user: jenkins
  copy:
    src=gitconfig
    dest=/home/jenkins/.gitconfig
    owner=jenkins
    group=jenkins

- name: "user: create .buildout main folder"
  sudo: yes
  sudo_user: jenkins
  file:
    path=/home/jenkins/.buildout
    state=directory
    owner=jenkins
    group=jenkins

- name: "user: create .buildout subfolders"
  sudo: yes
  sudo_user: jenkins
  file:
    path=/home/jenkins/.buildout/{{ item }}
    state=directory
    owner=jenkins
    group=jenkins
  with_items:
    - eggs
    - downloads
    - extends

- name: "user: add default.cfg buildout config file"
  sudo: yes
  sudo_user: jenkins
  copy:
    src=default.cfg
    dest=/home/jenkins/.buildout/default.cfg
    owner=jenkins
    group=jenkins
